<!doctype html>
<html>

<head>
  <title>Mugshot.py - About</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>

<body class="content-center">
  <div class="text-center">
    <a class="title-link" href="/"><h1 class="">Mugshot.py</h1></a>

    <a class="link text-center pb3 f-110" href="./">Return</a>
  </div>

  <div>
    <div class="pb1">
      <h2>About</h2>
      <p>
        Facial recognition systems are starting to become commonplace in our modern day society. Many major cities have
        implemented such systems in their CCTV systems and are being ostensibly used to combat crime.
      </p>
      <p>
        The accuracy of these systems have been questioned. Trials in London resulted in a 96% rate of false positives,
        where the software incorrectly matches a person with a photo on the database.[1] The city of San Francisco has
        banned the use of facial recognition technology by departments under its jurisdiction due to concerns on privacy
        and ethics.[2]
      </p>

      <p>
        Mugshot.py simulates such a facial recognition system. Its facial encoding library was created with publicly
        accessible mugshot imagery and the charges associated with each image. The user submits an image that contains
        one or multiple faces. Mugshot.py will then return the closest match, the accuracy percentage and the charges
        associated with the match.
      </p>

      <h2>Methodology</h2>
      <p>
        Mugshot imagery is first collected from JailBase, a service that provides pubicly available arrest information from US states where publication of such data is legal. When the collection process is run, images are collected from the 10 most recent entries from each US county. The entry is anonymised and finding the original JailBase entry is rendered impossible to be found, by the user of this nor by the creator.
      </p>

      <p>
        Each mugshot image is analyzed. When an image is not valid or a face was not found, it is not inserted into the dataset. Likewise if no charges are presented, it is not included as well. If valid, the face's location in the image, unique encoding and associated charges are inserted into the dataset. 
      </p>

      <p>
        When the user submits an image, Mugshot.py will search for faces. It will then return the nearest match for each face found in the submitted image. The user then can see the submitted image with the encoding visualised, the accuracy percentage to the nearest match and its associated charges. The accuracy percentage is calculated using <a class="link" href="https://github.com/ageitgey/face_recognition/wiki/Calculating-Accuracy-as-a-Percentage">this method</a> with the threshold of 0.5, which indicates a strong match.
      </p>

      <h2>Datasets and models</h2>
      <p>
        The dataset is collected from the whole of the USA and might be considered representative of general arrestee populatio. (Which is not to say it is representative of the general population). As JailBase does not provide any ethnicity data, it is impossible to do an analysis of the composition. However if we assume the dataset is a cross section of the arrestee population, we can consult other sources and discern the dataset's composition. Data from US Bureau of Justice Statistics estimate that in 2014, roughly 11.21 million arrests were made. 7.77 million were white, 3.12 million were black, 0.17 million were American Indian/Alaskan Natives and 0.15 million were Asian/Pacific Islanders. 8.22 million of these were men, 2.99 million were women.[3] Applying that to Mugshot.py's dataset, we could say that 69% of the entries are white, 28% are black, 2% are American Indian/Alaskan Natives and 1% are Asian/Pacific Islanders. 73% are men and 27% are women.
      </p> 

      <p>
        We already see some issues there. 
      </p>

      <p>
        These aspects must also be considered when thinking about the datasets that is used by larger agencies. 
      </p>
      <h2>Credits</h2>
      <p>
        Mugshot.py was created by <a class="link" href="http://www.haryosukmawanto.com/">Haryo Sukmawanto</a>, a
        multimedia artist based in Ghent, Belgium. It owes particular thanks to Adam Geitgey for his library <a
          class="link" href="https://github.com/ageitgey/face_recognition">face_recognition</a>. The facial encoding
        data was created using resources from <a class="link" href="https://www.jailbase.com/">JailBase</a>. Data
        acquired from Jailbase has been anonymised and its contents are not traceable to the origin.
      </p>

      <p class="pb3">
        <ul style="list-style-type:none;">
          <li class="f-80">[1] <a class="link"
              href="https://www.independent.co.uk/news/uk/home-news/facial-recognition-london-inaccurate-met-police-trials-a8898946.html">Lizzie
              Dearden, "Facial recognition wrongly identifies public as potential criminals 96% of time, figures
              reveal", The Independent, 7 May 2019</a></li>
          <li class="f-80">[2] <a class="link"
              href="https://www.nytimes.com/2019/05/14/us/facial-recognition-ban-san-francisco.html">Kate
              Conger, Richard Fausset and Serge F. Kovaleski, "San Francisco Bans Facial Recognition Technology", The
              New York Times, 14 May 2019</a></li>
            <li class="f-80">[2] <a class="link"
                href="https://www.bjs.gov/index.cfm?ty=datool&surl=/arrests/index.cfm">Howard N. Snyder, Ph.D.; Alexia D. Cooper, Ph.D. and Joseph
                Mulako-Wangota, Ph.D., "Arrest Data Analysis Tool", Bureau of Justice Statistics, consulted on 23 May 2019</a></li>
        </ul>
      </p>
    </div>

  </div>
</body>

</html>