<!doctype html>
<html>
  <head>
    <title>Mugshot.py</title>

    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60510317-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-60510317-3');
    </script>
  </head>

  <body class="content-center text-center ">

    <div class="content-center">
      <a class="title-link" href="/"><h1 class=" mb-decrease">Mugshot.py</h1></a>
      <a class="link f-110" href="./about">About</a>
    </div>

    <div class="">
      <p class="pt1">
          A simulation of automated facial recognition systems. Compare an image of a face to a dataset of arrested individuals and find out if it would be flagged.
      </p>
    </div>

    <div>
      <!-- <div class="navbar pt3">
        <button class="button" onclick="openForm('Upload')">Upload an image</button>
        <button class="button" onclick="openForm('Webcam')">Use your webcam</button>
      </div> -->

      <div id="Upload" class="w3-container forms">
        <h2>Upload a picture</h2>
        <form method="POST" enctype="multipart/form-data">
          <input class="button" type="file" name="file">
          <input class="button" type="submit" value="Upload">
        </form>
      </div>

      <!-- <div id="Webcam" class="w3-container forms" style="display:none">
        <h2>Coming soon</h2>
      </div> -->

      <script>
        function openForm(name) {
          var i;
          var x = document.getElementsByClassName("forms");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
          }
          document.getElementById(name).style.display = "block"; 
        }
      </script>

    </div>
  </body>

</html>