<!doctype html>
<head>
  <title>Mugshot.py</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<div class="content-center text-center">
  <h1 class="">Mugshot.py</h1>

  <section class="">
    <a class="link mr4" href="./#photography">Photographer</a> 
    <a class="link mr4" href="./#3dartist">3D Artist</a>  
    <a class="link mr4" href="./#visualartist">Visual Artist</a> 
    <a class="link mr4" href="./#contact">Contact</a>
  </section>

  <h2>Upload a picture</h2>

  <form method="POST" enctype="multipart/form-data">
    <input class="button" type="file" name="file">
    <input class="button" type="submit" value="Upload">
  </form>
</div>